{% load i18n static %}

<html style='-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; font-family:"Roboto", sans-serif; box-sizing:border-box; color:rgba(0, 0, 0, 0.87); font-weight:normal; line-height:1.5'>
<head>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body style="margin:0; display:flex; flex-direction:column; max-width: 700px">
<div style="max-width: 700px;">
  <div style="display:block">
    <div class="light-blue lighten-1" role="navigation"
         style="display:block; box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); background-color:#29b6f6; color:#fff; height:56px; line-height:56px; width:100%"
         bgcolor="#29b6f6" height="56" width="100%">
      <div class="nav-wrapper container"
           style="margin:0 auto; max-width:1280px; width:90%; height:100%; position:relative" width="90%" height="100%">
        <a id="logo-container" href="{{ site_url }}{% url "index" %}" class="brand-logo"
           style="background-color:transparent; -webkit-tap-highlight-color:transparent; color:#fff; text-decoration:none; display:inline-block; font-size:2.1rem; padding:0; position:absolute; white-space:nowrap">Notifi[CC]ations</a>
      </div>
    </div>
  </div>

  <div style="display:block; flex:1 0 auto; text-align:center; padding-top: 20px;">
    <strong style="font-weight:500; font-size:20px">There are new videos with captions on WhatImDoingRightNow:</strong>

    {% for video in videos %}
      <h5 style="font-weight:400; line-height:110%; font-size:1.64rem; margin:0.82rem 0 0.656rem 0"><a
              href="{{ video.youtube_link }}" target="_blank"
              style="background-color:transparent; -webkit-tap-highlight-color:transparent; color:#039be5; text-decoration:none; font-weight:inherit">{{ video.title }}</a>
      </h5>
      <a href="{{ video.youtube_link }}"><img src="{{ video.thumbnail }}" alt="{{ video.title }}"
                                              style="border:0; max-height:200px; max-width:600px"></a>
    {% endfor %}

  </div>

  <footer class="page-footer orange" style="display:block; background-color:#ff9800; padding-top:20px"
          bgcolor="#ff9800">
    <div class="footer-copyright"
         style="-ms-flex-align:center; -webkit-align-items:center; align-items:center; background-color:rgba(51, 51, 51, 0.08); color:rgba(255, 255, 255, 0.8); display:flex; min-height:50px; overflow:hidden; padding:10px 0; font-weight:300"
         bgcolor="rgba(51, 51, 51, 0.08)">
      <div class="container" style="margin:0 auto; max-width:1280px; width:90%; text-align: center;" width="90%">
        Unsubscribe <a class="orange-text text-lighten-3" target="_blank" href="{{ email.get_unsubscribe_link }}"
                       style="background-color:transparent; -webkit-tap-highlight-color:transparent; color:#ffcc80; text-decoration:none">here</a>
        |
        Coding by <a class="orange-text text-lighten-3" target="_blank" href="https://twitter.com/miki_cz"
                     style="background-color:transparent; -webkit-tap-highlight-color:transparent; color:#ffcc80; text-decoration:none">Miki</a>
        <br>
        Hosting by <a class="orange-text text-lighten-3" target="_blank" href="https://bettersubbox.com"
                      style="background-color:transparent; -webkit-tap-highlight-color:transparent; color:#ffcc80; text-decoration:none">BetterSubBox</a>
        |
        Source on <a class="orange-text text-lighten-3" target="_blank"
                     href="https://gitlab.com/mikulaspoul/notificcations"
                     style="background-color:transparent; -webkit-tap-highlight-color:transparent; color:#ffcc80; text-decoration:none">GitLab</a>
      </div>
    </div>
  </footer>
</div>
</body>

</html>
