{% load static material_form i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>Notifi[CC]ations</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header>
      <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{% url "index" %}" class="brand-logo">Notifi[CC]ations</a>
        </div>
      </nav>
    </header>

    <main>
      {% if messages %}
        <div class="section">
          <div class="container">
            {% for message in messages %}
              <div class="card {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}green darken-4{% else %}red darken-4{% endif %}">
                <div class="card-content white-text">
                  <p>{{ message }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}


      <div class="section">
        <div class="container">

          <form method="post" action="{% url "index" %}">
            {% csrf_token %}

            <div class="row center" style="margin-bottom: 0">
              <div class="col s12 m6">
                {% form form=form %}{% endform %}
              </div>
              <div class="input-field col s12 m6 center">
                <button type="submit" class="waves-effect waves-light btn">{% trans "Sign up" %}</button>
              </div>
            </div>
          </form>

        </div>
      </div>
      <div class="section">
        <div class="container">
          <h2 class="header center orange-text"
              style="margin-bottom: 2px; margin-top: -25px;">{% trans "Latest captioned videos" %}</h2>

          <ul class="collapsible" data-collapsible="accordion">
            {% for video in latest_captioned %}
              <li>
                <div class="collapsible-header">
                  {% if video.captions_added %}
                    <span class="new badge" data-badge-caption="{% trans 'Captioned' %}: {{ video.captions_added }}"></span>
                  {% endif %}
                  <span class="new badge hide-on-small-only" data-badge-caption="{% trans 'Published' %}: {{ video.published }}"></span>

                  <a href="{{ video.youtube_link }}" target="_blank">{{ video.title }} ({% if video.duration_date.hour > 0 %}{{ video.duration_date }}{% else %}{{ video.duration_date|date:"i:s" }}{% endif %})</a>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="col s12 l6">
                      <img style="max-width: 100%;" src="{{ video.thumbnail }}" alt="{{ video.title }}">
                      <h5>
                        <a href="{{ video.youtube_link }}" target="_blank">{{ video.title }}</a>
                      </h5>
                    </div>
                    <div class="col s12 l6">
                      <p style="white-space: pre-line">{{ video.description }}</p>
                    </div>
                  </div>

                </div>
              </li>

            {% endfor %}
          </ul>


        </div>
      </div>

    </main>

    <footer class="page-footer orange">
      <div class="footer-copyright">
        <div class="container">
          Template by <a class="orange-text text-lighten-3" target="_blank" href="http://materializecss.com">Materialize</a> |
          Coding by <a class="orange-text text-lighten-3" target="_blank" href="https://twitter.com/miki_cz">Miki</a> |
          Hosting by <a class="orange-text text-lighten-3" target="_blank" href="https://bettersubbox.com">BetterSubBox</a> |
          Source on <a class="orange-text text-lighten-3" target="_blank" href="https://gitlab.com/mikulaspoul/notificcations">GitLab</a>
        </div>
      </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/init.js" %}"></script>

    {% if analytics_code %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ analytics_code }}', 'auto');
        ga('send', 'pageview');

      </script>
    {% endif %}
  </body>
</html>
